# Ignore main.c files from 0 to 18
[0-9][0-8]-main.c
0-node
1-left
10-depth
11-size
12-leaves
13-nodes
14-balance
15-full
16-perfect
17-sibling
18-uncle
2-right
3-del
4-leaf
5-root
6-pre
7-in
8-post
9-height
